{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/registration_form.css" media="screen"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
	<div class="span8"><h1>{{ project }}</h1></div>
	<div class="span4 span-create-project"><a class="btn btn-danger btn-create-project" href="{% url 'project_detail' project.id %}">Cancel</a></div>
</div>
<form class="form-signin" method="POST">
	{% csrf_token %}
	<h2 class="form-signin-heading">Share project</h2>
	<span style="color:red; font-size:11px">
		{{ form.name.errors }}
	</span>
	{{ form.name }}
	<label for="id_permission">Permission</label>
	{{ form.permission }}
	<button class="btn btn-large btn-primary" type="submit">Add user</button>
</form>
{% else %}
<p>Please log in or register to create project</p>
{% endif %}
{% endblock %}