# The path to the Rscript interpreter
PIMP_RSCRIPT_PATH=/usr/bin/Rscript

# This should be set to False for production servers
PIMP_DEBUG=True

# A list of hosts that are allowed to connect to ...
PIMP_ALLOWED_HOSTS=127.0.0.1,localhost

# The mail server that sends out notifications
PIMP_EMAIL_HOST=mail-relay.gla.ac.uk

# The email address that notifications are sent from
PIMP_DEFAULT_FROM_EMAIL=wwcrc-gp-noreply@glasgow.ac.uk

# The name of the database engine. Possible values are
# django.db.backends.mysql
# django.db.backends.sqlite3
PIMP_DATABASE_ENGINE=django.db.backends.sqlite3

# The name of the database file for sqlite databases.
PIMP_DATABASE_FILENAME=sqlite3.db

# The secret key for Django
PIMP_SECRET_KEY='a5s!nh^1=tq3a4)jbe07*$nv6npve6d%a7nn6(8g#la)lp6oh('

# These are the parameters that should be passed into Java from R
PIMP_JAVA_PARAMETERS=-Xmx8192m

# On OS X, this needs to be set to the correct location for the
# path where the jvm library is kept
DYLD_LIBRARY_PATH=/Library/Java/JavaVirtualMachines/jdk1.8.0_51.jdk/Contents/Home/jre/lib/server/

# If multiple rabbitmq instances are needed, a unique name should
# be given here
#RABBITMQ_NODENAME=

# The IP address for the rabbitmq server to bind to if necessary.
# By default, it will bind to all available interfaces.
#RABBITMQ_NODE_IP_ADDRESS=

# If multiple rabbitmq instances are needed, a unique port should
# be given here
#RABBITMQ_NODE_PORT=

