{% extends "base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css">
.title-row {
  background-color: rgb(205, 255, 208);
  padding-bottom: 10px;
  border-radius: 5px;
  border: solid 1px rgb(231, 231, 231);
}
</style>

{% endblock %}


{% block content %}

<div class="row" style="margin-bottom:10px;margin-top:50px;">
    <div class="row title-row">
      <div class="span12" style="float:none;margin: 0 auto;text-align:center; margin-top: 20px;">
        <p><b>Your password has been set.</b> You may go ahead and log in now.</p>
      </div>
    </div>
</div>

<p><a class="btn btn-primary btn-create-project" href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
