{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

        <h4>Add Experimental Condition</h4>

	{% if experimental_condition_form %}
        <form id="experimental_condition_form" method="post" action="{% url 'add_experimental_condition' experiment_slug %}">

            {% csrf_token %}
            {% for hidden in experimental_condition_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in experimental_condition_form.visible_fields %}
                {{ field.errors }}
		<br>
                {{ field.help_text }}
		<br>
                {{ field }}
		<br>
            {% endfor %}

            <input type="submit" name="submit" value="Add Condition" />
	{% endif %}        
	</form>
{% endblock %}
