{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

        <h4>{{experiment.title}}: {{condition.name}}</h4>

        <form id="sample_form" method="post" action="{% url 'add_sample' experiment.slug condition.slug %}">

            {% csrf_token %}
            {% for hidden in sample_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in sample_form.visible_fields %}
                {{ field.errors }}
		<br>
                {{ field.help_text }}
		<br>
                {{ field }}
		<br>
            {% endfor %}
	<input type = "submit" name="submit" value="Submit">
	</form>

{% endblock %}
