{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

        <h4>{{experiment.title}}: {{condition.name}}: {{sample.name}}</h4>

        <form id="sample_file_form" method="post" action="{% url 'add_sample_file' experiment.slug condition.slug sample.slug %}" enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in sample_file_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in sample_file_form.visible_fields %}
                {{ field.errors }}
        <br>
                {{ field.help_text }}
        <br>
                {{ field }}
        <br>
            {% endfor %}
    </br>
    </br>
    <button class="btn btn-large btn-primary" type="submit">Upload Sample File</button>
    <a href="{% url 'condition_summary' experiment.slug condition.slug %}"><input type="button" class="btn btn-large btn-primary" value ="Cancel"></input></a>
    </form>
{% endblock %}
