{% extends 'frank/frankbase.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

        <h4>Generate A New Fragmentation Set</h4>

        <form id="fragmentation_set_form" method="post" action="/frank/my_experiments/{{experiment.slug}}/create_fragmentation_set">

            {% csrf_token %}
            {% for hidden in frag_set_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in frag_set_form.visible_fields %}
                {{ field.errors }}
		<br>
                {{ field.help_text }}
		<br>
                {{ field }}
		<br>
            {% endfor %}
	<input type = "submit" name="submit" value="Submit">
	</form>

{% endblock %}
