{% extends 'frank/frankbase.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

        <h2>My Fragmentation Sets</h2>

        {% if fragmentation_sets %}
		<table>
		<tr>
			<th>Name</th>
			<th>Experiment</th>
			<th>Created</th>
			<th>Current Status</th>
		</tr>
		{% for frag_set in fragmentation_sets %}
			<tr><td><a href="/frank/my_fragmentation_sets/{{frag_set.slug}}">{{frag_set.name}}</a>
		</td><td>{{frag_set.experiment}}</td><td>{{frag_set.timeCreated}}</td><td>{{frag_set.status}}</td></tr>
		{% endfor %}
		</table>
	{% else %}
		<h1>No existing fragmentation sets</h1>
	{% endif %}
	</br>
	<table>	
	<tr><td><a href="/frank/">Home</a></td></tr>
	</table>	

{% endblock %}
