{% extends "base.html" %}

{% load staticfiles %}


{% block content %}

        <h2>Peak {{peak.id}}</h2>
	<p>Mass: {{peak.mass|floatformat:4}}</p>
	<p>Retention Time: {{peak.retention_time|floatformat:4}}</p>
	<p>Intensity: {{peak.intensity|stringformat:".4e"}}</p>
	<p>Number of Fragments: {{number_of_fragments}}</p>
	</br>
	{% if preferred_annotation %}
		<div>Preferred Annotation: <b>{{preferred_annotation.compound.name}}</b> ({{preferred_annotation.compound.formula}})</div>
		<div>Selected By: {{peak.preferred_candidate_user_selector}} ({{peak.preferred_candidate_updated_date}})</div>
		<div>Selection Criteria: {{peak.preferred_candidate_description}}</div>
		</br>
	{% else %}
		<p>No Specified Preferred Annotation</p>
	{% endif %}

	<h3>MS2 Fragment Spectrum</h3>     
	{% if fragments %}

		<div>
			<img src="{% url 'make_spectra_plot' peak.fragmentation_set.slug peak.slug %}">
		</div>
		</br>
		<table class="table">
			<tr>
				<th>Fragment Identifier</th>
				<th>Mass</th>
				<th>Retention Time</th>
				<th>Intensity</th>
				<th>Relative Intensity</th>
			</tr>
			{% for fragment,relative_intensity in fragments %}
			<tr>
				<td><a href="{% url 'peak_summary' fragment.fragmentation_set.slug fragment.slug %}">{{fragment}}</a></td>
				<td>{{fragment.mass|floatformat:4}}</td>
				<td>{{fragment.retention_time|floatformat:4}}</td>
				<td>{{fragment.intensity|stringformat:".4e"}}</td>
				<td>{{relative_intensity|floatformat:0}}%</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No peaks to display</p>
	{% endif %}
	<br/>
	<h3>Candidate Annotations</h3>
	{% if candidate_annotations %}
		{% for annotation_query,annotations in candidate_annotations.items %}
	  		<h5>{{annotation_query.name}}&nbsp;<a data-toggle="collapse" data-target="#{{forloop.counter}}">[Show]</a></h5>
	  		
	  		<div id="{{forloop.counter}}" class="collapse out">
				<table class="table">
					{% if annotations %}				
					<tr>
						<th>Compound Name</th>
						<th>Compound Formula</th>
						<th>Compound Mass</th>
						<th>Confidence Value</th>
						<th>Difference In Mass</th>
						<th>Adduct</th>
						<th>Collision Energy</th>
						<th></th>
					</tr>
					{% for annotation in annotations %}
						<tr>
							<td><p>{{annotation.compound.name}}</p></td>
							<td><p>{{annotation.compound.formula}}</p></td>
							<td><p>{{annotation.compound.exact_mass|floatformat:4}}</p></td>
							<td><p>{{annotation.confidence|floatformat:3}}</p></td>		
							<td><p {% if annotation.mass_match == True %}style="color: rgb(59, 182, 59);"{% endif %}{% if annotation.mass_match == False %}style="color: rgb(232, 45, 45);"{% endif %}>{{annotation.difference_from_peak_mass|floatformat:3}}</p></td>
							<td><p>{{annotation.adduct}}</p></td>
							<td><p>{{annotation.collision_energy}}</p></td>
							<td><a href="{% url 'specify_preferred_annotation' peak.fragmentation_set.slug peak.slug annotation.id %}">Select Annotation</td>
						</tr>
					{% endfor %}
					{% endif %}
				</table>
			</div>
	  	{% endfor %}
	{% else %}
		<p>No current annotations for this peak</p>
	{% endif %}

	<table>	
		<tr><td><a href="{% url 'fragmentation_set' peak.fragmentation_set.slug %}">{{peak.fragmentation_set.name}}</a></td></tr>
		<tr><td><a href="{% url 'fragmentation_set_summary' %}">My Fragmentation Sets</a></td></tr>
		<tr><td><a href="{% url 'frank_index' %}">Home</a></td></tr>
	</table>	

{% endblock %}
