{% extends 'frank/frankbase.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

        <h4>{{peak}}</h4>
	<p>Mass: {{peak.mass}}</p>
	<p>Retention Time: {{peak.retentionTime|floatformat:2}}</p>
	<p>Intensity: {{peak.intensity|floatformat:2}}</p>
	<p>Number of Fragments: {{number_of_fragments}}</p>

	<p>MS2 Fragment Spectrum</p>     
	{% if fragmentation_peak_list %}

		<div>
			<img src="{{peak.slug}}/msn_spectra_plot.png">
		</div>
		</br>
		<table>
		<tr>
		<th>Fragment Identifier</th>
		<th>Mass</th>
		<th>Retention Time</th>
		<th>Intensity</th>
		</tr>

		{% for fragment in fragmentation_peak_list %}
		<tr>
		<td>{{fragment.slug}}</td>
		<td>{{fragment.mass|floatformat:2}}</td>
		<td>{{fragment.retentionTime|floatformat:2}}</td>
		<td>{{fragment.intensity|floatformat:2}}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<h1>No peaks to display</h1>
	{% endif %}
	<br/>
	<p>Candidate Annotations</p>
	 {% if candidate_annotations %}
		<table>
		<tr>
		<th>Compound Title</th>
		<th>Compound ID</th>
		<th>Compound Formula</th>
		<th>Confidence Value</th>
		<th>Mass Differential</th>
		</tr>
		{% for annotation in candidate_annotations %}
		<tr>
		<td>{{annotation.compound.name}}</td>
		<td>{{annotation.compound.id}}</td>
		<td>{{annotation.compound}}</td>
		<td>{{annotation.compound.exact_mass|floatformat:4}}</td>
		<td>{{annotation.confidence|floatformat:3}}</td>
		<td>{{annotation.difference_from_peak_mass|floatformat:3}}</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<h1>No annotations to display</h1>
	{% endif %}

	<table>	
	<tr><td><a href="/frank/">Home</a></td></tr>
	</table>	

{% endblock %}
