{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

        <h2>{{fragmentation_set.name}}</h2>
	<p>Peak: {{peak.id}}</p>
	<p>Suggested Annotation: {{annotation.compound.name}}</p>

        <form id="preferred_annotation_form" method="post" action="{% url 'specify_preferred_annotation' fragmentation_set.slug peak.slug annotation.id %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
		<br>
                {{ field.help_text }}
		<br>
                {{ field }}
		<br>
            {% endfor %}
	<input type = "submit" name="submit" value="Submit">
	</form>

{% endblock %}
